<!doctype html>
<html lang="en" ng-app='MenuCategoriesApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
<body>
   <div class="container" ng-controller='MenuCategoriesController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="newItemName">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="menu.logMenuItems(newItemName);">Narrow It Down For Me!</button>
    </div>

    <!-- <found-items found-items="menu.found" on-remove="...."></found-items> -->

    <!-- <div style="margin-top:100px; width:100%;">
      <ol>
        <li ng-repeat="temp in menu.found">
          {{ temp }}
          <button ng-click="menu.removeItem($index);">Bad Remove Item</button>
          <button ng-click="menu.removeItem({index: $index});">Remove Item</button>
        </li>
      </ol>
  </div> -->

    <shopping-list
    items="menu.found"
    bad-remove="menu.removeItem"
      on-remove="menu.removeItem(index)"></shopping-list>

      <div class="error" ng-if="menu.errorMessage">{{menu.errorMessage}}</div>
  </div>

</body>
</html>
