<!doctype html>
<html lang="en" ng-app='ShoppingListApp'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as showList'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in showList.items">
        Buy {{ item.quantity }} {{ item.name }}  {{ item.pricePerItem  | currency }}
        <input type="number" ng-model="item.selected"  style="width: 50px; margin-left: 10px">
        <button class="btn btn-default"  ng-click="showList.removeItem($index,item.selected);"><span class="glyphicon glyphicon-ok"></span> Buy</button>
       </li>
     </ul>
    <div ng-if="showList.errorMessage" class="emptyMessage">{{showList.errorMessage}}</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as showList'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in showList.items">
         Bought {{ item.selected }} {{ item.name }} for total price of {{item.selected * item.pricePerItem | currency :  "$$$$$"}}
       </li>
     </ul>
     <div ng-if="showList.items.length === 0" class="emptyMessage">{{showList.errorMessage}}</div>
    </div>
  </div>
</div>

</body>
</html>
