<div class="container" style="margin-left: 10%;">

    <h1>My Info</h1>

    <!-- <div id="info" ng-if="reg.completed">
      Username: {{ reg.user.username}} <br>
      Email: {{ reg.user.email}} <br>
      Phone: {{ reg.user.phone }}
    </div> -->

    <div id="info" ng-if="reg.completed">
      Username: {{ info.items.username}} <br>
      Email: {{ info.items.email}} <br>
      Phone: {{ info.items.phone }} <br>
      <h2>Favorite Dish</h2>
      Name: {{ info.items.menu_saved.name }} <br>
      Description: {{ info.items.menu_saved.description }} <br>
      <img class="img-responsive" width="250" height="150" ng-src="images/menu/{{info.items.temp1}}/{{info.items.menu}}.jpg"">
    </div>

    <div id="info" ng-if="!reg.completed">
      <h3>Not Signed Up Yet. <a href="/#/signup"> Sign up Now</a> </h3>
    </div>

</div>


