<div class="container" style="margin-left: 30%;">

    <h1>Sign Up</h1>

    <fieldset  style="margin-top: 2%;">
      <form name='regForm' novalidate>

        <input type="text" name="firstname" placeholder="First Name"
          ng-model="reg.user.firstname"
          required>
          <span
            ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
            Please enter a first name
          </span>
          <br>

          <input type="text" name="lastname" placeholder="Last Name"
          ng-model="reg.user.lastname"
          required>
          <span
            ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
            Please enter a last name
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <input type="text" name="menu" placeholder="Menu number"
          ng-model="reg.user.menu"
          ng-blur="reg.upper();"
          required>
          <span ng-if="reg.invalid_menu">
            No such menu number exists
          </span>
           <br>

        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

      </form>
    </fieldset>

    <div id="info" ng-if="reg.completed">
      Your information has been saved
    </div>

</div>


